body {text-align: center;
  background-color: rgb(212, 206, 206);
  color: rgb(26, 107, 10);
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.header {
  background-color: #45a049;
  height: 80px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;

}

.nav {
  display: flex;
  justify-content: space-between;
  max-width: 992px;
  margin: 0 auto;
  position: fixed;
}

.nav-link {
  color: white;
  text-decoration: none;
}

.logo {
  font-size: 30px;
  font-weight: bold;
  padding: 0 40px;
  line-height: 80px;
}

.nav-menu {
  display: flex;
  margin-right: 40px;
  list-style: none;
}

.nav-menu-item {
  font-size: 18px;
  margin: 0 10px;
  line-height: 80px;
  text-transform: uppercase;
  width: max-content;

}

.nav-menu-link {
  padding: 8px;
  border-radius: 3px;
}

.nav-menu-link:hover {
  background-color: #034574;
  transition: 0.5s;
}

form {
  width: 500px;
  margin: 0 auto;
  text-align: left;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

label {
  display: block;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: bold;
}

input,
textarea {
  width: 100%;
  padding: 12px 20px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
}

input[type="submit"] {
  background-color: #4caf50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

@media screen and (max-width: 500px) {
  #for1 {
    width: 90%;
  }
}

#intro {

  width: 1150px;
  height: 250px;

  margin: 20px;
  padding: 20px;
  border: solid 10px black;
}

/*
#parraf1,
#parraf2,
#img {
  text-align: center;
  float: left;
  font-size: 16px;
  width: 360px;
  height: 200px;
  border: solid red 10px;
}

#img2 {
  width: 360px;
  height: 200px;
}*/
.info-imga,.info-img{
  display: block;
  list-style: none;
  font-size: 25px;
  font-weight: bold;
  padding: 4 4px;
  color: darkslategrey;
}
.img1{
  border-radius: 20 0 20 0px;
}
.img {
  background-color: rgba(0, 139, 139, 0.11);
  border: 3px solid rgba(0, 30, 128, 0.932);
  text-align: center;
  width: 90%;
  height: 150px;
  margin:  auto;
  padding: 5px;
  columns: 3;
  border-radius: 20px;
  text-transform: uppercase;
  width: max-content;

}
/*
@media screen and (max-width:768px){
  .img{width: 90%;height: 200px; }
  .info-imga{display: none;}
*/
  
.img1{
  font-size: auto;
  text-align: center;
  margin: auto;
  
}}
@media screen and (max-width:576px) {
  .info-imga{font-size: auto;}
  
}
#text1-img,
#text2-img{
  display: block;
  font-size: auto;
}
